services:
  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/
    environment:
      - POSTGRES_DB=business_index
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/business_index
    depends_on:
      - db

volumes:
  postgres_data:
